@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Matemasie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');.font-Matemasie{
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.wendy-one-regular {
  font-family: "Wendy One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-link {
  color: white; /* text-white */
  font-weight: bold; /* font-bold */
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.nav-link:hover {
  text-decoration: underline; /* hover:underline */
}

.buy-btn{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-shadow{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.text-mid-shadow{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.text-light-shadow{
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.bright-cyan{
  color: rgb(40 210 255);
}
